.tab{
    height:40px;
    line-height: 40px;
    background: #fff;
    border-bottom: 1px solid rgba(7, 17, 27, 0.1);
  }
  .tab_item{
    float: left;
    width: 33.33%;
    text-align: center;
    font-size: 14px;
    color: rgb(77, 85, 93);
  }
  .tab_item>a{
    display: block;
    position: relative;
  }
  
  /* 无 */
  .tab_item>a.router-link-active{
    color: #02a774;
  }
  /* 无 */
  .tab_item>a.router-link-active::after{
    content:'';
    position: absolute;
    left: 50%;
    bottom: 1px;
    width: 35px;
    height: 2px;
    transform: translateX(-50%);
    background: #02a774;
  }